@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6F0FF;
}

.form{
    background-color: #fff;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: #233836;
    text-align: center;
}


form .field {
    height: 45px;
    width: 100%;
    margin-top: 55px;
}

form .field:first-child {
    height: 45px;
    width: 100%;
    margin-top: 10px;
}

.field input , .field button{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}

.field input{
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #cacaca;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span , .form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form-link a{
    text-decoration: none;
    color: #0171d3;
}

a:hover{
    text-decoration: underline
}

button{
    cursor: pointer;
}

.Check{
    margin-top: 20px;
    text-align: center;
}

.input-field.invalid .form-control{
    border-color: red;
}

.input-field.invalid .form-mess{
    color: red;
}

.form-label{
    color: black;
    font-size: 18px;
}

#Sign_up{
    cursor: pointer;
}

